
body{
  background-color: black;
}
/* HOMEPAGE STARTS HERE */
.name--section--grid{
  
    background-color: rgb(17, 16, 16);
    padding: 300px;
    margin: auto;
    margin-top: 110px;
    width: 20px;
    height: 130px;
    border-radius: 25px;
  
}
.name--picture{
  color: rgb(245, 239, 233);
  position: absolute;
  margin-top: -230px;
  margin-left: -80px;


}
.name--picture-2{
  color: rgb(187, 187, 68);
  margin-top: -20px;
}
/* display: flex;
justify-content: center;
flex-direction: column; */

.iname{
  margin-left: 48px;
}
.paragraph{
  color: rgb(216, 212, 206);
  margin:auto;
  position: absolute;
  margin-left: -110px;
  margin-top: -10px;
}
.button1{
  margin: auto;
  margin-top: 80px;
  width: 350px;
  height: 35px;
  margin-left: -150px;
  border-radius: 10px;
  background-color: rgb(248, 245, 241);
  transition-duration: 0.4s;
  text-align: center;
  border: none;
  font-size: 18px;
  

}
.button1:hover {
  background-color: rgb(17, 16, 16); 
  color: white;
  border: 1px solid white; 
  
}

.button2{
  margin: auto;
  margin-top: 40px;
  width: 350px;
  height: 35px;
  margin-left: -150px;
  border-radius: 10px;
  background-color: rgb(248, 245, 241);
  transition-duration: 0.4s;
  text-align: center;
  border: none;
  font-size: 18px;
  

}
.button2:hover {
  background-color: rgb(17, 16, 16); 
  color: white;
  border: 1px solid white; 
  
}

.button3{
  margin: auto;
  margin-top: 40px;
  width: 350px;
  height: 35px;
  margin-left: -150px;
  border-radius: 10px;
  background-color: rgb(248, 245, 241);
  transition-duration: 0.4s;
  text-align: center;
  border: none;
  font-size: 18px;
  

}
.button3:hover {
  background-color: rgb(17, 16, 16); 
  color: white;
  border: 1px solid white;
  
}

.button4{
  margin: auto;
  margin-top: 40px;
  width: 350px;
  height: 35px;
  margin-left: -150px;
  border-radius: 10px;
  background-color: rgb(248, 245, 241);
  transition-duration: 0.4s;
  text-align: center;
  border: none;
  font-size: 18px;
  

}
.button4:hover {
  background-color: rgb(17, 16, 16); 
  color: white;
  border: 1px solid white; 
  
}
.button1:hover .logo {
  background-color: white;
}

.button3:hover .logo3 {
  background-color: white;
}

.button4:hover .logo4 {
  background-color: white;
}
